---
---

@charset "utf-8";

$font-stack: Helvetica Neue, Helvetica sans-serif;
$primary-color: #333;
$dark-grey: #333;
$light-grey: #ccc;
$blue: #107896;
$black: #000;
$hover: 2px solid $blue;
$text-header: 1.35em;
$text-body: .9em;
$text-meta: .8em;

@mixin for-tablet-up {
  @media (min-width: 31.25em) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 52.5em) {
    @content;
  }
}

body {
  font-size: 16px;

  // slightly closer
  @include for-tablet-up {
    font-size: 17px;
  }

  // larger face is farther away
  @include for-desktop-up {
    font-size: 21px;
  }
}

img {
  max-width: 100%;
}

.site {
  font-family: $font-stack;
  color: $black;
}

.site-wrap {
  margin: auto;
  max-width: 46em;
  padding: 0 1.25em 1.25em 1.25em;

  // break at 31.25em
  @include for-tablet-up {
    padding: 0 2.5em 1.25em 2.5em;
  }

  // break at 52.5em
  @include for-desktop-up {
    max-width: 52em;
  }
}

.page-heading {
  font-size: $text-header;
}

.post-list {
  margin: 3em 0 0 0;
  list-style: none;

  @include for-tablet-up {
    margin: 2em 0 0 0;
    font-size: 16px;
  }

  @include for-desktop-up {
    margin: 2em 0 0 0;
    font-size: 16px;
  }

  > li {
    margin-bottom: 1rem;
  }
}

.post-meta {
  color: $light-grey;
  font-size: $text-meta;
  margin: 0 0 1.5em 0;
}

.post-link {
}

.post-desc {
  color: $dark-grey;
  font-size: $text-body;
  margin: 0 0 0.25em 0;
}

.post-title {
  display: block;
  font-size: $text-header;
  margin: 0 0 0.25em 0;
}

.post-date {
  font-size: $text-meta;
  margin: 0 0 1.5em 0;
}

.post-content {
  font-size: $text-body;
  color: $black;
  h1, h2 {
    font-size: 1.25em;
  }
}

.post-header {
  margin: 2em 0 0 0;
}

.post-header > h2 {
  font-size: $text-header;
  color: $black;
  margin: 0 0 0 0;

}

.header {
  margin: 0.5em 0 2em 0;
  vertical-align: middle;
  height: 2em;

  @include for-tablet-up {
    margin: 0.25em 0 0 0;
  }

  @include for-desktop-up {
    margin: 0.25em 0 0 0;
  }
}

.title {
  font-size: $text-header;

  @include for-desktop-up {
    font-size: $text-header;
  }
}

.navigation {
  float: none;
  margin: 0.25em 0 0 0;

  .active {
    border-bottom: $hover;
  }

  @include for-tablet-up {
    float: right;
    margin: 0.5em 0 0 0;
  }

  @include for-desktop-up {
    float: right;
    margin: 0.5em 0 0 0;
  }

  > .link {
    margin: 0 .5em 0 0;
    display: inline;
  }
}

a,
a:link,
a:active,
a:visited {
  color: #107896;
  text-decoration: none;
}

a:hover {
  border-bottom: $hover;
  color: #107896;
  text-decoration: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}

.clearfix:after {
  clear: both
}