---
layout: default
pagination:
  enabled: true
  category: books
---
<div class="post-note">Current
<span class="post-meta">Warning: Notes are in raw form</span>
</div>


{% if paginator.page == 1 %}

  <div class="post-list">
      {% for post in paginator.posts %}
    {% assign show_post = false %}
    {% for tag in post.tags %}
      {% if tag == "in_progress" %}
        {% assign show_post = true  %}
     {%  endif %}
    {% endfor %}
     {% if show_post %}
        {% include post_list.html %}
        {% assign show_post = false %}
      {% endif %}
  {% endfor %}
  </div>
{% endif %}

<div class="post-note">
  Finished
</div>

<div class="post-list">
  {% for post in paginator.posts %}
    {% assign show_post = false %}
    {% for tag in post.tags %}
      {% if tag != "in_progress"  %}
        {% assign show_post = true  %}
     {%  endif %}
    {% endfor %}
     {% if show_post %}
        {% include post_list.html %}
        {% assign show_post = false %}
      {% endif %}
  {% endfor %}
  {% include pagination.html %}
</div>
