---
layout: default
---

{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<div class="post-header">
    <h2>{{ page.title }}</h2>

    <span class="post-meta">{{ page.date | date: site.date_format }}
  {% if page.update_date %}
    <span class="post-meta">{{ site.data.text.post.updated }}: {{ page.update_date | date: site.date_format }}
  {% endif %}
  </span>
</div>

<div class="applause">
    <applause-button style="width: 58px; height: 58px;"/>
</div>

<article class="post-content">
    {{ content }}
</article>

{% include post_footer.html %}